/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
}

.news-card{
  border: 1px solid #bfbfc3;
  border-radius: 5px;
  background-color: #F4F5FF;
}

.btn:focus,.btn:active{
  outline: none !important;
  box-shadow: none !important;
}
.text{
  font-size: 14px;
}
.see-more{
  font-size: 12px;
}
.update-time{
  font-size: 13px;
}
