{% extends "layout.html" %}
{% block add_styles %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile/change-password.css')}}"> {% endblock %}
{% block content %}
<div class="container form-brand">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/default/logo.png') }}" alt="Brand Logo"
                    width="180px">
            </div>
            <div class="mt-4">
                <div class="p-4 cp-card">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="mt-2">
                            {{ form.old_password.label(class="form-label mb-0 f-pass-label") }}
                            {% if form.old_password.errors %}
                            {{ form.old_password(class="form-control input-box is-invalid", id="old-password") }}
                            <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.old_password(class="form-control input-box", id="email") }}
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {{ form.new_password.label(class="form-label mb-0 f-pass-label") }}
                            {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control input-box is-invalid", id="new-password") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.new_password(class="form-control input-box", id="email") }}
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {{ form.c_password.label(class="form-label mb-0 f-pass-label") }}
                            {% if form.c_password.errors %}
                            {{ form.c_password(class="form-control input-box is-invalid", id="c-password") }}
                            <div class="invalid-feedback">
                                {% for error in form.c_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.c_password(class="form-control input-box", id="email") }}
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {{form.save(class="form-control cp-btn")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}