.user-details-card{
    border: 1.5px solid #B2BEB5;
    border-radius: 10px;
    background-color: #F4F5FF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-details-card-title{
    font-size: 10px;
}
.user-details-card-digit{
    font-size: 20px;
    font-weight: bold;
}
.user-details-card:hover{
    border: 1.5px solid black;
    background: #28282B;
    color: #FFFFFF;
}
.graph-card{
    border: 1.5px solid #B2BEB5;
    border-radius: 10px;
    background-color: #F4F5FF;
}
.graph-margin{
    margin-left: 5px;
}
.graph-user-traffic{
    background: white;
    width: 70%;
    margin-right: 5px;
    border-right:1.5px solid #B2BEB5;
    border-top: 1.5px solid #B2BEB5;
    border-bottom: 1.5px solid #B2BEB5;
}
.feedback-card{
    border: 1.5px solid #B2BEB5;
    border-radius: 10px;
    background-color: #F4F5FF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.feedback-user{
    font-size: 15px;
}
.user-label{
    font-size: 15px;
    font-weight: bold;
}
.user-name{
    font-size: 15px;
}
.title-name{
    font-size: 15px;
    font-weight: bold;
}
.pie{
    width: 400px;
}
.card-fed{
    border: 1.5px solid #B2BEB5;
    border-radius: 10px;
    background-color: #F4F5FF;
}
.head{
    background-color: #28282B;
    color: #FFFFFF;
    border-radius: 8px 8px 0 0;

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.head-rating{
    background-color: #28282B;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.body{
    background-color: #F4F5FF;
    border-radius: 0 0 8px 8px;
}
.feedback-text{
    margin-left: 10px; 
}