.reset-label{
    font-weight: bold;
}
.reset-card{
    border: 1.5px solid #B2BEB5;
    border-radius: 15px;
    background-color: #FAF9F6;
}

.reset-btn{
    background-color: #28282B;
    color: #FFFFFF;
}
.reset-btn:hover{
    background-color: #000000;
    color: #FFFFFF;
}