{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row gx-4 mt-2">
    <div class="col">
      <div class="text-center shadow-sm user-details-card py-4">
        <span class="user-details-card-title">Total User</span><br>
        <span class="user-details-card-digit">200</span>
      </div>
    </div>
    <div class="col mx-2">
      <div class="text-center shadow user-details-card py-4">
        <span class="user-details-card-title">Premium User</span><br>
        <span class="user-details-card-digit">120</span>
      </div>
    </div>
    <div class="col mx-2">
      <div class="text-center shadow user-details-card py-4">
        <span class="user-details-card-title">Free User</span><br>
        <span class="user-details-card-digit">80</span>
      </div>
    </div>
    <div class="col mx-2">
      <div class="text-center shadow user-details-card py-4">
        <span class="user-details-card-title">Total Revenue(BDT)</span><br>
        <span class="user-details-card-digit">200</span>
      </div>
    </div>


  </div>
  <div class="container">
    <div class="row">


      <!-- graph codee 
        <div class="mt-5 shadow-sm graph-card">
        <div class="graph-margin mt-3">
          <span>User Traffic</span><br>
          <span class="text-muted">as of 18 April 2022, 12:10 AM</span>

          <div class="row">
            <div class="col-md-8">
              graph
            </div>
            <div class="col-md-4">
              details
            </div>
          </div>

        </div>
      </div> -->
    </div>

  </div>


  <div class="row mt-4">
    <h4>User Feedback</h4>
    {% if len(feedbacks) == 0 %}
    <p class="text-center">No feedback yet</p>
    {% else %}
    {% for feedback in feedbacks %}
    <div class="col-md-6">
      <div class="head">
        <div>{{ feedback.profile.get_fullname() }}</div>
        <div>{{ feedback.profile.subscription.subscription_status }}</div>
        <div>{{ feedback.get_created_at() }}</div>
      </div>
      <div class="body">
        <p class="feedback-text">{{ feedback.text }}</p>
      </div>
    </div>
    {% endfor %}
    <a href="{{url_for('admin.all_feedback')}}" class="see-more-feedback">See All</a>
    {% endif %}
  </div>

  <div class="row mt-2">
    <h4>User rating</h4>
    {% if len(ratings) == 0 %}
    <p class="text-center">No ratings yet</p>
    {% else %}
    {% for rating in ratings %}
    <div class="col-md-4 mb-2">
      <div class="head-rating">
        <div>{{ rating.profile.get_fullname() }}</div>
        <div>
          {% for icon in range(rating.rating) %}
          <i class="fa-solid fa-star"></i>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    <a href="{{url_for('admin.all_rating')}}" class="see-more-rating">See All</a>
    {% endif %}
  </div>

  <div class="row mt-2">
    <h4>User Rating Graph</h4>
    <div class="graph-margin">
      <div class="mt-1">
        <img class="pie"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtHecu8EilOoyAD2i2rbjNYuQjjKCGzmIxgcBIh6uOvYoBnzKQLWz5iJ4y7WcjR009-uU&usqp=CAU"
          alt="">
      </div>
    </div>
  </div>

</div>
{% endblock %}