{% extends "layout.html" %} {% block add_styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/base/about_us.css')}}"/>
{% endblock %} {% block content %}

<div class="container">
  <div class="row margin">
    <h1 class="text-center mb-5">Our Team</h1>
    <div class="d-flex">
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="https://scontent.fdac148-1.fna.fbcdn.net/v/t39.30808-6/241206916_1565590383774776_6547807464572519650_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=U5Eq5T7F-VUAX-jgtMP&tn=2DVig20pXPGBD8YW&_nc_ht=scontent.fdac148-1.fna&oh=00_AT_oFj43OjRVXsrzinGICp9Xo6mluYEjSBqWR0paK0rYOw&oe=634F81B1" alt="">
          <p class="f_font">Co-founder & CEO</p>
          <h4> Md. Nahid Hasan</h4>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/NHashiq18/"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/Ashiq666"><i class="fa-brands fa-github s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://twitter.com/nhashiq18"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/nhashiq18/"><i class="fa-brands fa-instagram s-icon"></i></a>  
        </div>
      </div>
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="https://z-p3-scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-6/309560681_1259154684916944_456119028307404947_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=V6y-IryUHIkAX9HWzTK&_nc_ht=z-p3-scontent.fdac12-1.fna&oh=00_AT9guVpZ9McL4mrkkjOiShtHHQImOtybDSdLxHQu_avOLA&oe=634E7927" alt="">
          <p class="f_font">Co-founder & CEO</p>
          <h4>Marwa Khanom Nurtaj</h4>
          <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/NHashiq18/"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/Ashiq666"><i class="fa-brands fa-github s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://twitter.com/nhashiq18"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/nhashiq18/"><i class="fa-brands fa-instagram s-icon"></i></a>
        </div>
      </div>
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="https://z-p3-scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-6/311300489_5824337767598628_3434835436539109908_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-lkDz2Yki6YAX-Friux&_nc_ht=z-p3-scontent.fdac12-1.fna&oh=00_AT_E2piIY9Un6WHKGV5fPuR5l-4nNWNAlRwuf9YOQWS8nQ&oe=634EA1F1" alt="">
          <p class="f_font">Co-founder & CEO</p>
          <h4>Rafsan Bari Shafin</h4>
          <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/NHashiq18/"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/Ashiq666"><i class="fa-brands fa-github s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://twitter.com/nhashiq18"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/nhashiq18/"><i class="fa-brands fa-instagram s-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2>Our Story</h2>
    <div class="col-md-6 col-sm-12">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur sint, aliquam deleniti magni reprehenderit maxime quam, dolorem magnam non qui! Sed unde commodi ratione excepturi ab quas, vero, asperiores consectetur impedit accusamus voluptatum natus provident sint nobis ducimus atque odio reprehenderit delectus? Dolores ipsam reiciendis nemo unde modi dicta. Eum, quidem! Totam hic unde repellendus voluptas praesentium nesciunt nisi?
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img
      src="https://image.shutterstock.com/image-photo/word-demo-appearing-behind-torn-600w-1782295403.jpg"
      alt=""
    />
    </div>
  </div>
  <div class="row">
    <h2>Our Mission</h2>
    <div class="col-md-6 col-sm-12">
        <img
          src="https://image.shutterstock.com/image-photo/word-demo-appearing-behind-torn-600w-1782295403.jpg"
          alt=""
        />
      </div>
    <div class="col-md-6 col-sm-12">
      <div>
        <p>As fellow graduate students at East West University(EWU) in 2022, Nahid, Marwa and Rafsan noticed a shift in the way people's need of update summarization. In a modern life consumers are supposed to get information continously to prevent or protect the future Obstruction.</p> 
        <p>From this shift, this project was born: <b>Update Summarizer</b>. It was founded on "Capstone", the notion that people don't want to be interrupted for not having any tools like this — they want to be helped.</p>
        <p>Today, the <b>Update Summarizer</b> continues to empower businesses around the world to stop obstacles, start helping, and return their focus to the customer.</p> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-5">
      <h2>EST</h2>
      <p>Fall 2022, on a capstone project of East West University(EWU)<br><span class="text-muted">A/2, Jahurul Islam Avenue Jahurul Islam City, Aftabnagar Dhaka-1212, Bangladesh</span></p>
    </div>
    <div class="row">
      <div class="my-5">
        <h2>Developed By</h2>
        <div class="d-flex justify-content-between ms-3">
          <div>
            <span class="txt-name"><b>Md. Nahid Hasan</b></span><br>
            <b>Email: </b><span>2019-1-60-207@std.ewubd.edu</span>
          </div>
          <div>
            <span class="txt-name"><b>Marwa Khanom Nurtaj</b></span><br>
            <b>Email: </b><span>2019-1-60-255@std.ewubd.edu</span>
          </div>
          <div>
            <span class="txt-name"><b>Rafsan Bari Shafin</b></span><br>
            <b>Email: </b><span>2019-1-62-001@std.ewubd.edu</span>
          </div>
        </div>
        <div class="ms-3 mt-3">
          <b>Help & Support:</b>
          <p>Special thanks to our supervisor <b>Md. Mohsin Uddin</b>(Senior lecturer, EWU) sir for his guidence and support.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
