{% extends "layout.html" %} {% block add_styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/base/about_us.css')}}"/>
{% endblock %} {% block content %}

<div class="container">
  <div class="row margin">
    <h1 class="text-center mb-5">Our Team</h1>
    <div class="d-flex">
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="{{ url_for('static', filename='images/ceo/ashiq.jpg') }}" alt="Profile_Picture">
          <p class="f_font">Co-founder & CEO</p>
          <h4> Md. Nahid Hasan</h4>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/NHashiq18/"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/Ashiq666"><i class="fa-brands fa-github s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://twitter.com/nhashiq18"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/nhashiq18/"><i class="fa-brands fa-instagram s-icon"></i></a>  
        </div>
      </div>
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="https://z-p3-scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-6/309560681_1259154684916944_456119028307404947_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=V6y-IryUHIkAX9HWzTK&_nc_ht=z-p3-scontent.fdac12-1.fna&oh=00_AT9guVpZ9McL4mrkkjOiShtHHQImOtybDSdLxHQu_avOLA&oe=634E7927" alt="Profile_Picture">
          <p class="f_font">Co-founder & CEO</p>
          <h4>Marwa Khanom Nurtaj</h4>
          <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/hcmkn.khan.54321"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/MarwaNurtaj"><i class="fa-brands fa-github s-icon"></i></a>
            <a style="margin-right: 5px; margin-right:5px" href="#"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/_m._._a._._r._._u_/"><i class="fa-brands fa-instagram s-icon"></i></a>
        </div>
      </div>
      <div class="text-center a">
        <div class="profile">
          <img class="user" src="{{ url_for('static', filename='images/ceo/rafsan.jpg') }}" alt="Profile_Picture">
          <p class="f_font">Co-founder & CEO</p>
          <h4>Rafsan Bari Shafin</h4>
          <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.facebook.com/rafsanbari"><i class="fa-brands fa-facebook s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://github.com/Rafsan2001"><i class="fa-brands fa-github s-icon"></i></a>
            <a style="margin-right: 5px; margin-right:5px" href="#"><i class="fa-brands fa-twitter s-icon"></i></a>
            <a target="_blank" style="margin-right: 5px; margin-right:5px" href="https://www.instagram.com/_baymax_2.0/"><i class="fa-brands fa-instagram s-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2>Our Story</h2>
    <div class="col-md-6 col-sm-12 os-div1">
      <p> Summarizing, or writing a summary, entails providing a concise overview of the main points of a text in your own words. The original text is always much shorter than a summary. Update summarizer  provides you with a "Summary text tool" to help you summarize and analyze your argumentative texts, articles, scientific texts, history texts, and well-structured analyses work of art. </p>
      <p>This educational tool identifies and summarizes the important concepts and information in your documents. Summarize in one click, go to the main idea, or skim through to quickly interpret your texts and develop your syntheses.</p>
    </div>
    <div class="col-md-6 col-sm-12 os-pic1">
      <img class="w-100"
      src="{{ url_for('static', filename='images/uploads/our_story.jpg') }}"
      alt="image"
    />
    </div>
  </div>
  <div class="row mt-5">
    <h2>Our Mission</h2>
    <div class="col-md-6 col-sm-12 os-pic2">
        <img class="w-100"
          src="{{ url_for('static', filename='images/uploads/mission.jpg') }}"
          alt="image"
        />
      </div>
    <div class="col-md-6 col-sm-12 os-div2">
      <div>
        <p>As fellow graduate students at East West University(EWU) in 2022, Nahid, Marwa and Rafsan noticed a shift in the way people's need of update summarization. In a modern life consumers are supposed to get information continously to prevent or protect the future Obstruction.</p> 
        <p>From this shift, this project was born: <b>Update Summarizer</b>. It was founded on "Capstone", the notion that people don't want to be interrupted for not having any tools like this — they want to be helped.</p>
        <p>Today, the <b>Update Summarizer</b> continues to empower businesses around the world to stop obstacles, start helping, and return their focus to the customer.</p> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-5">
      <h2>EST</h2>
      <p>Fall 2022, on a capstone project of East West University(EWU)<br><span class="text-muted">A/2, Jahurul Islam Avenue Jahurul Islam City, Aftabnagar Dhaka-1212, Bangladesh</span></p>
    </div>
    <div class="row">
      <div class="my-5">
        <h2>Developed By</h2>
        <div class="d-flex justify-content-between">
          <div>
            <span class="txt-name"><b>Md. Nahid Hasan</b></span><br>
            <b>Email: </b><span>2019-1-60-207@std.ewubd.edu</span>
          </div>
          <div>
            <span class="txt-name"><b>Marwa Khanom Nurtaj</b></span><br>
            <b>Email: </b><span>2019-1-60-255@std.ewubd.edu</span>
          </div>
          <div>
            <span class="txt-name"><b>Rafsan Bari Shafin</b></span><br>
            <b>Email: </b><span>2019-1-62-001@std.ewubd.edu</span>
          </div>
        </div>
        <div class="mt-3">
          <b>Help & Support:</b>
          <p>Special thanks to our supervisor <b>Md. Mohsin Uddin</b>(Senior lecturer, EWU) sir for his guidence and support.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
