{% extends "layout.html" %}
{% block content %}
{% include "main/index.html" %}
<div class="container form-brand">

  <div class="row">
      <div class="col-md-8 offset-md-2 mx-auto my-2">
        <img style="height: 60vh;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYPhfY3-nD2SekUgJHx93xYuV_kGtlQ5J9Pg&usqp=CAU" class="card-img-top" alt="...">

        <p class="card-text"><h3>Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h3></p>
          <p class="card-text"><small class="text-muted">Mon Oct 17, 2022 04:56 PM</small></p>
          <div class="d-flex justify-content-between mt-5">
            <div>
              <h5 class="text-center">Summary</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum ducimus sed. Quae, quos distinctio deleniti culpa provident aliquid ipsam, doloremque quis dolores possimus nisi nemo mollitia minima. Magni vel expedita distinctio earum, quia nulla! Delectus fugit itaque voluptates alias quae possimus molestias repellat quis odit, dolorem, quibusdam doloremque necessitatibus!</p>
            </div>
            <hr style="border: 0.5px solid black;">
            <div>
              <h5 class="text-center">Summary:</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos totam quaerat nemo, animi asperiores architecto labore neque odio error velit, consequatur commodi praesentium, deserunt expedita iusto in aliquid placeat omnis hic quisquam aspernatur ad rem. Sapiente, maxime mollitia laboriosam laborum quas veritatis aperiam totam commodi provident deleniti soluta sed quam veniam. Tempore nostrum vel culpa ea ipsum repellat est magni nemo voluptates quaerat ratione ducimus obcaecati, commodi, laborum dignissimos!</p>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- <div class="container">
<div class="col-md-10 mx-auto my-2">
    <div class="card">
        <img style="height: 60vh;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYPhfY3-nD2SekUgJHx93xYuV_kGtlQ5J9Pg&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h3>Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h3></p>
          <p class="card-text"><small class="text-muted">Mon Oct 17, 2022 04:56 PM</small></p>
          <h5>Summary:</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos totam quaerat nemo, animi asperiores architecto labore neque odio error velit, consequatur commodi praesentium, deserunt expedita iusto in aliquid placeat omnis hic quisquam aspernatur ad rem. Sapiente, maxime mollitia laboriosam laborum quas veritatis aperiam totam commodi provident deleniti soluta sed quam veniam. Tempore nostrum vel culpa ea ipsum repellat est magni nemo voluptates quaerat ratione ducimus obcaecati, commodi, laborum dignissimos!</p>
        </div>
      </div>

</div>
</div> -->
{% endblock %}