{% extends "layout.html" %}
{% block add_styles %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/bangla/bangla-news.css')}}"> {% endblock %}
{% block content %}
{% include "main/index-b.html" %}

<div class="container form-brand">

    <div class="row">
        <div class="col-xl-8  col-md-10 offset-md-2 mt-2">
            <h2 style="color: #006b41;">বাংলাদেশ</h2>
          <div class="d-flex news-card mt-2">
            <div class="col-md-4">
              <img style="height: 100%;"src="{{ url_for('static', filename='images/news/bangla/b1.PNG')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                <h4 class="card-title mb-1">বুয়েট ছাত্র ফারদিন কীভাবে চনপাড়া বস্তিতে, উত্তর খুঁজছে পুলিশ</h4>
                <p class="text mb-0">বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয়ের (বুয়েট) শিক্ষার্থী ফারদিন নূর ওরফে পরশকে কারা কী কারণে হত্যা করেছে, তা এখনো জানা যায়নি। হত্যার সঙ্গে সরাসরি জড়িত কাউকে এখনো গ্রেপ্তার করতে পারেনি আইনশৃঙ্খলা রক্ষাকারী বাহিনী...</p>
                  <a href="{{url_for('news.bangla_details')}}" style="text-decoration: none;">
                    <p class="card-text"><small class="text-muted see-more">বিস্তারিত...</small></p>
                  </a>
                  <p class="card-text"><small class="text-muted update-time">২ ঘণ্টা আগে</small></p>
            </div>
          </div>
          <div class="d-flex news-card mt-2">
            <div class="col-md-4">
              <img style="height: 100%;"src="{{ url_for('static', filename='images/news/bangla/b2.PNG')}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                <h4 class="card-title mb-1">করোনা শনাক্তের হার ২ শতাংশের নিচে</h4>
                  <p class="text mb-0"></p>দেশে সর্বশেষ ২৪ ঘণ্টায় (গতকাল বুধবার সকাল ৮টা থেকে আজ বৃহস্পতিবার সকাল ৮টা পর্যন্ত) করোনা শনাক্ত হয়েছে ৬৯ জনের। এ সময় করোনায় কারও মৃত্যু হয়নি। আগের দিন করোনা শনাক্ত হয়েছিল ৬২ জনের। গত দিনেও কারও মৃত্যু হয়নি...</p>
                  <a href="{{url_for('news.bangla_details2')}}" style="text-decoration: none;">
                    <p class="card-text"><small class="text-muted see-more">বিস্তারিত...</small></p>
                  </a>
                  <p class="card-text"><small class="text-muted update-time">প্রকাশ: ১০ নভেম্বর ২০২২, ১৭: ৫৭</small></p>
            </div>
          </div>
          
        </div>
    </div>
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Custom Ad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <img class="img-add" src="{{ url_for('static', filename='images/add/img1.jpg') }}" alt="Add">   
          <img class="img-add mt-3" src="{{ url_for('static', filename='images/add/img2.jpg') }}" alt="Add">
      </div>
    </div>
  </div>

{% endblock %}