{% extends "layout.html" %}
{% block add_styles %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/bangla/details.css')}}"> {% endblock %}
{% block content %} 
{% include "main/index-b.html" %} 
<div class="row">
<div class="col-md-10 offset-md-2 mx-auto my-2">
  <h3>সারসংক্ষেপ:</h3>
  <div class="sum-body-title">
    নারায়ণগঞ্জ জেলা পুলিশের একজন কর্মকর্তা প্রথম আলোকে বলেন, ৪ নভেম্বর দিবাগত রাত ২টা ৩৫ মিনিটে ফারদিনের মুঠোফোনের সর্বশেষ অবস্থান (রেডিও সিগন্যাল) চনপাড়া পুনর্বাসন কেন্দ্রে দেখা গেছে। এ কারণে ধারণা করা হচ্ছে, ৪ নভেম্বর রাতে তিনি সেখানে এসেছিলেন। এই সূত্র ধরে তাঁকে হত্যার সঙ্গে জড়িত সন্দেহভাজনদের ধরতে চনপাড়া এলাকায় অভিযান চালাচ্ছে স্থানীয় পুলিশ, ডিবি ও র‍্যাব। <br>
    ফারদিন হত্যার সঙ্গে কোনো মাদক চক্রের সংশ্লিষ্টতা রয়েছে কি না, তা গুরুত্বসহকারে খতিয়ে দেখা হচ্ছে বলে জানিয়েছেন মামলার তদন্ত–সংশ্লিষ্ট একজন কর্মকর্তা। তিনি বলেন, পারিবারিক, প্রেমঘটিত, রাজনৈতিক বিদ্বেষ ও বিতর্ক প্রতিযোগিতায় অংশ নিতে স্পেনের মাদ্রিদে যাওয়া নিয়ে কারও সঙ্গে কোনো বিরোধ ছিল কি না, সবকিছুই খতিয়ে দেখা হচ্ছে।
  </div>

  <img style="height: 65vh;"
    src="{{ url_for('static', filename='images/news/bangla/b1.PNG')}}"
    class="w-60 mb-3" alt="...">

  <h1>বুয়েট ছাত্র ফারদিন কীভাবে চনপাড়া বস্তিতে, উত্তর খুঁজছে পুলিশ</h1>
  <p class="card-text"><small class="text-muted">প্রকাশ: ১২ নভেম্বর ২০২২, ০২: ২৬</small></p>
  <div class="my-3">

    <p>বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয়ের (বুয়েট) শিক্ষার্থী ফারদিন নূর ওরফে পরশকে কারা কী কারণে হত্যা করেছে, তা এখনো জানা যায়নি। হত্যার সঙ্গে সরাসরি জড়িত কাউকে এখনো গ্রেপ্তার করতে পারেনি আইনশৃঙ্খলা রক্ষাকারী বাহিনী। তদন্ত–সংশ্লিষ্ট সূত্রে জানা গেছে, ফারদিন রামপুরা থেকে যাঁর সঙ্গে দেখা করতে জুরাইনে গিয়েছিলেন, তাঁকে শনাক্ত করা গেছে। এটিসহ কয়েকটি কারণ সামনে রেখে তদন্ত চলছে।</p>
    <p>মামলার তদন্ত–সংশ্লিষ্ট ঢাকা মহানগর পুলিশের গোয়েন্দা সংস্থার (ডিবি) এক কর্মকর্তা বলেন, ঘটনার দিন রাতে রামপুরা থেকে জুরাইনে যান ফারদিন। সেখানে আশপাশের এলাকায় ঘোরাঘুরির পর তিনি চনপাড়ায় যান। তিনি নিজের ইচ্ছায় গেলেন, নাকি জোর করে কেউ তাঁকে সেখানে নিয়ে গেলেন, এখনো সেই প্রশ্নের উত্তর পাওয়া যায়নি।</p>
    <p>নারায়ণগঞ্জ জেলা পুলিশের একজন কর্মকর্তা প্রথম আলোকে বলেন, ৪ নভেম্বর দিবাগত রাত ২টা ৩৫ মিনিটে ফারদিনের মুঠোফোনের সর্বশেষ অবস্থান (রেডিও সিগন্যাল) চনপাড়া পুনর্বাসন কেন্দ্রে দেখা গেছে। এ কারণে ধারণা করা হচ্ছে, ৪ নভেম্বর রাতে তিনি সেখানে এসেছিলেন। এই সূত্র ধরে তাঁকে হত্যার সঙ্গে জড়িত সন্দেহভাজনদের ধরতে চনপাড়া এলাকায় অভিযান চালাচ্ছে স্থানীয় পুলিশ, ডিবি ও র‍্যাব।

      ওই কর্মকর্তা বলেন, ফারদিনের মরদেহ শীতলক্ষ্যা নদী থেকে উদ্ধার করা হয়েছে। তাঁর সর্বশেষ অবস্থানও ছিল শীতলক্ষ্যা নদীতীরে। তাঁর সর্বশেষ অবস্থান থেকে মরদেহ উদ্ধারের স্থান নদীপথে সাড়ে তিন থেকে চার কিলোমিটার ভাটিতে।</p>
    <p>স্থানীয় একটি সূত্র জানায়, ৪ নভেম্বর দিবাগত মধ্যরাতে চনপাড়া পুনর্বাসন কেন্দ্রের ৪ নম্বর ওয়ার্ড এলাকার নবকিশলয় উচ্চবিদ্যালয়ের পাশে একটি মাদক বেচাকেনার স্থানে হইচই ও হট্টগোলের শব্দ পেয়েছিলেন স্থানীয় বাসিন্দারা। মাদক বেচাকেনার ওই এলাকা স্থানীয় এক তরুণ নিয়ন্ত্রণ করেন। তিনি নিজের তিনতলা ভবনের নিচতলায় মাদক বেচাকেনা করেন। কাউকে কাউকে সেখানে বসে মাদক সেবন করতে দেখা যায়।

      ফারদিন হত্যার সঙ্গে কোনো মাদক চক্রের সংশ্লিষ্টতা রয়েছে কি না, তা গুরুত্বসহকারে খতিয়ে দেখা হচ্ছে বলে জানিয়েছেন মামলার তদন্ত–সংশ্লিষ্ট একজন কর্মকর্তা। তিনি বলেন, পারিবারিক, প্রেমঘটিত, রাজনৈতিক বিদ্বেষ ও বিতর্ক প্রতিযোগিতায় অংশ নিতে স্পেনের মাদ্রিদে যাওয়া নিয়ে কারও সঙ্গে কোনো বিরোধ ছিল কি না, সবকিছুই খতিয়ে দেখা হচ্ছে।</p>
      <p>গতকাল তদন্ত–সংশ্লিষ্ট একটি দল চনপাড়ায় গেছে। তারা সেখান থেকে সিসিটিভি ফুটেজ সংগ্রহ করেছে।

        অবশ্য ডিবির মতিঝিল বিভাগের উপকমিশনার (ডিসি) রাজীব আল মাসুদ প্রথম আলোকে বলেন, এখন পর্যন্ত এ হত্যার সঙ্গে মাদকের সংশ্লিষ্টতা পাওয়া যায়নি। নতুন করে কাউকে গ্রেপ্তার করা হয়নি।
        
        মাদকের বিষয়টি ফারদিনের পরিবারও কোনোভাবে মেলাতে পারছে না। তাঁর মা–বাবা বলছেন, তাঁদের ছেলেকে কেউ কোনো দিন ধূমপান করতেই দেখেননি। সেই ছেলে পরীক্ষার আগের দিন রাতে মাদক কিনতে চনপাড়া যাবে, সেটা তাঁদের কাছে অবিশ্বাস্য মনে হচ্ছে।</p>
        <p>ফারদিনের মা–বাবা বলছেন, বুয়েটের কোনো শিক্ষার্থীকে মাদক সংগ্রহ করতে হলে এত দূর যেতে হয়? ঢাকা মেডিকেল কলেজ এলাকায় কোন জিনিস পাওয়া যায় না?

          ফারদিনের বাবা কাজী নূর উদ্দিন প্রথম আলোকে বলেন, তাঁর ছেলেকে নির্মমভাবে হত্যা করা হয়েছে। আর এখন বলা হচ্ছে মাদকের কথা। তাঁর ছেলে ধূমপানই করে না, সে মাদক কিনতে সেখানে কেন যাবে।
          
          ৪ নভেম্বর নিখোঁজ হওয়ার তিন দিন পর ৭ নভেম্বর নারায়ণগঞ্জের শীতলক্ষ্যা নদী থেকে বুয়েটের পুরকৌশল বিভাগের শিক্ষার্থী ফারদিনের মরদেহ উদ্ধার করে পুলিশ। এ ঘটনায় গত বুধবার দিবাগত রাতে বাবা কাজী নূর উদ্দিন রাজধানীর রামপুরা থানায় হত্যা মামলা করেন।</p>
          <p>মামলায় ছেলের বন্ধু আয়াতুল্লাহ বুশরার নাম উল্লেখসহ অজ্ঞাত কয়েকজনকে আসামি করা হয়। গত বৃহস্পতিবার সকালে তাঁকে রামপুরার বাসা থেকে গ্রেপ্তার করা হয়। তিনি পাঁচ দিনের রিমান্ডে রয়েছেন।</p>

  </div>
  <div class="my-5">
    <h3>সম্পর্কিত সংবাদ:</h3>
    <div class="mt-2">
      <div class="title-related-news mb-1">বুয়েট শিক্ষার্থী ফারদিন হত্যার ঘটনায় বান্ধবীকে আসামি করে মামলা
      </div>
      <p class="text mb-0">বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয়ের (বুয়েট) শিক্ষার্থী ফারদিন নূর ওরফে পরশ হত্যার ঘটনায় মামলা হয়েছে। ফারদিনের বাবা বাদী হয়ে গতকাল বুধবার দিবাগত রাত সাড়ে তিনটায় রাজধানীর রামপুরা থানায় মামলা করেন। মামলায় ফারদিন নূরের বান্ধবীর নাম উল্লেখ করে এবং অজ্ঞাতনামা আরও কয়েকজনকে আসামি করা হয়েছে।

        মামলার বিষয়টি নিশ্চিত করে রামপুরা থানার ভারপ্রাপ্ত কর্মকর্তা (ওসি) রফিকুল ইসলাম প্রথম আলোকে বলেন, মামলায় অভিযোগ করা হয়েছে, ফারদিন নূরের বান্ধবীসহ অজ্ঞাতনামা আসামিরা তাঁর ছেলেকে হত্যা করে লাশ গুম করার উদ্দেশ্যে নদীতে ফেলে দিয়েছেন। তিনি আরও বলেন, ‘আমরা মামলাটি তদন্ত করে এ ঘটনার সঙ্গে জড়িত ব্যক্তিদের শনাক্ত করে আইনের আওতায় আনতে কাজ করছি।’
        
        পুলিশ জানায়, ফারদিন নূরের ওই বান্ধবী একটি বেসরকারি বিশ্ববিদ্যালয়ের ইংরেজি বিভাগে পড়াশোনা করছেন। চার বছর ধরে ওই বান্ধবীর সঙ্গে ফারদিন নূরের যোগাযোগ।
        
        ফারদিন নূর বুয়েটের সিভিল ইঞ্জিনিয়ারিং বিভাগে শিক্ষার্থী ছিলেন। তিনি বুয়েটের ড. এম এ রশীদ হলে সংযুক্ত থাকলেও হলে থাকতেন না৷ পরিবারের সঙ্গে ঢাকার কোনাপাড়া এলাকায় থাকতেন।
        
        নারায়ণগঞ্জ পুলিশ গত সোমবার ফারদিন নূরের লাশ উদ্ধার করে। ফারদিন নূরের বাবা কাজী নূর উদ্দিন একজন সাংবাদিক। তিনি দ্য রিভারাইন নামে ব্যবসাবিষয়ক একটি নিউজ পোর্টালের সম্পাদক। মা সাহারা খাতুন গৃহিণী। তাঁদের গ্রামের বাড়ি নারায়ণগঞ্জের ফতুল্লা উপজেলায়।</p>
        <p class="text mb-0">শনিবার থেকে ফারদিন নূরের খোঁজ মিলছিল না। ওই দিনই রাজধানীর রামপুরা থানায় এ বিষয়ে সাধারণ ডায়েরি করেন তাঁর বাবা কাজী নূর উদ্দিন। এতে বলা হয়, ‘শুক্রবার (৪ নভেম্বর) বেলা তিনটার দিকে আমার ছেলে ফারদিন নূর পরশ ঢাকার ডেমরা থানাধীন কোনাপাড়ার নিজ বাসা থেকে বুয়েটের আবাসিক হলের উদ্দেশ্যে বের হয়। 

          পরদিন শনিবার সকাল ১০টায় তার বিভাগের (সিভিল ইঞ্জিনিয়ারিং) পরীক্ষা ছিল। পরে জানতে পারি যে আমার ছেলে পরীক্ষায় অংশ নেয়নি। ছেলের সঙ্গে মুঠোফোনে যোগাযোগের চেষ্টা করে ফোন বন্ধ পাই। পরে খোঁজ নিয়ে জানতে পারি যে একজন মেয়েবন্ধুর সঙ্গে রিকশায় করে রামপুরা থানাধীন ট্রাফিক বক্সের সামনে নেমে যায় সে। সে এখনো বাসায় ফেরেনি।’</p>
    </div>
  </div>
  <div class="my-2">
    <div class="title-related-news mb-1">বুয়েট শিক্ষার্থী ফারদিন হত্যা মামলায় বান্ধবী গ্রেপ্তার
    </div>
    <p class="text mb-0">বাংলাদেশ প্রকৌশল বিশ্ববিদ্যালয়ের (বুয়েট) শিক্ষার্থী ফারদিন নূরে (পরশ) হত্যার ঘটনায় মামলার আসামি আয়াতুল্লাহ বুশরাকে গ্রেপ্তার করেছে পুলিশ। আজ বৃহস্পতিবার রাজধানীর রামপুরার বাসা থেকে বুশরাকে গ্রেপ্তার করা হয়েছে বলে পুলিশ জানিয়েছে। পুলিশ বলছে, আয়াতুল্লাহ বুশরা ফারদিন নূরে পরশের বান্ধবী।

      পুলিশের মতিঝিল বিভাগের উপকমিশনার (এসি) হায়াতুল ইসলাম খান প্রথম আলোকে বলেন, বুয়েট শিক্ষার্থী ফারদিন নূর পরশ হত্যা মামলা আসামি বুশরাকে গ্রেপ্তার করেছে পুলিশ।
      
      ফারদিনের বাবা বাদী হয়ে গতকাল বুধবার দিবাগত রাত সাড়ে তিনটায় রাজধানীর রামপুরা থানায় হত্যার ঘটনায় মামলা করেন। মামলায় ফারদিন নূরের বান্ধবীর নাম উল্লেখ করে এবং অজ্ঞাতনামা আরও কয়েকজনকে আসামি করা হয়েছে।
      
      রামপুরা থানার ভারপ্রাপ্ত কর্মকর্তা (ওসি) রফিকুল ইসলাম প্রথম আলোকে বলেন, মামলায় অভিযোগ করা হয়েছে, ফারদিন নূরের বান্ধবীসহ অজ্ঞাতনামা আসামিরা তাঁর ছেলেকে হত্যা করে লাশ গুম করার উদ্দেশ্যে নদীতে ফেলে দিয়েছেন।
      পুলিশ জানায়, ফারদিন নূরের ওই বান্ধবী বুশরা একটি বেসরকারি বিশ্ববিদ্যালয়ের ইংরেজি বিভাগে পড়াশোনা করছেন। চার বছর ধরে ওই বান্ধবীর সঙ্গে ফারদিন নূরের যোগাযোগ।
      
      ফারদিন নূর বুয়েটের সিভিল ইঞ্জিনিয়ারিং বিভাগে শিক্ষার্থী ছিলেন। তিনি বুয়েটের ড. এম এ রশীদ হলে সংযুক্ত থাকলেও হলে থাকতেন না৷ পরিবারের সঙ্গে ঢাকার কোনাপাড়া এলাকায় থাকতেন।</p>
      <p class="text mb-0">নারায়ণগঞ্জ পুলিশ গত সোমবার ফারদিন নূরের লাশ উদ্ধার করে। ফারদিন নূরের বাবা কাজী নূর উদ্দিন একজন সাংবাদিক। তিনি দ্য রিভারাইন নামে ব্যবসাবিষয়ক একটি নিউজ পোর্টালের সম্পাদক। মা সাহারা খাতুন গৃহিণী। তাঁদের গ্রামের বাড়ি নারায়ণগঞ্জের ফতুল্লা উপজেলায়।

        শনিবার থেকে ফারদিন নূরের খোঁজ মিলছিল না। ওই দিনই রাজধানীর রামপুরা থানায় এ বিষয়ে সাধারণ ডায়েরি করেন তাঁর বাবা কাজী নূর উদ্দিন। এতে বলা হয়, ‘শুক্রবার (৪ নভেম্বর) বেলা তিনটার দিকে আমার ছেলে ফারদিন নূর পরশ ঢাকার ডেমরা থানাধীন কোনাপাড়ার নিজ বাসা থেকে বুয়েটের আবাসিক হলের উদ্দেশ্যে বের হয়। পরদিন শনিবার সকাল ১০টায় তার বিভাগের (সিভিল ইঞ্জিনিয়ারিং) পরীক্ষা ছিল। পরে জানতে পারি যে আমার ছেলে পরীক্ষায় অংশ নেয়নি। ছেলের সঙ্গে মুঠোফোনে যোগাযোগের চেষ্টা করে ফোন বন্ধ পাই। পরে খোঁজ নিয়ে জানতে পারি যে একজন মেয়েবন্ধুর সঙ্গে রিকশায় করে রামপুরা থানাধীন ট্রাফিক বক্সের সামনে নেমে যায় সে। সে এখনো বাসায় ফেরেনি।’</p>
  </div>
</div>
</div>


</div>
</div>
</div>
{% endblock %}