{% extends "layout.html" %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/bangla/details.css')}}"> {%
endblock %}
{% block content %}
{% include "main/index-b.html" %}
<div class="row">
    <div class="col-md-10 offset-md-2 mx-auto my-2">
        <h3>সারসংক্ষেপ:</h3>
        <div class="sum-body-title">
            টুইটারের দায়িত্ব নিয়ে বিশ্বজুড়ে হইচই ফেলে দেওয়া ইলন মাস্ক টেসলার ৪০০ কোটি মার্কিন ডলারের শেয়ার বিক্রির ঘোষণা
            দিয়েছেন। ব্রিটিশ গণমাধ্যম বিবিসির এক প্রতিবেদনে এ তথ্য জানানো হয়েছে।
            বিবিসি জানিয়েছে, যুক্তরাষ্ট্রের শেয়ারবাজারে দেওয়া এ ঘোষণায় ইলন মাস্ক জানিয়েছেন, তিনি কোম্পানিটির ১ কোটি ৯৫
            লাখ শেয়ার বিক্রি করবেন। বর্তমান বাজারমূল্যের হিসাবে যার আর্থিক মূল্য প্রায় ৩৯৫ কোটি মার্কিন ডলার।
        </div>

        <img style="height: 65vh;" src="{{ url_for('static', filename='images/news/bangla/i1.PNG')}}" class="w-60 mb-3"
            alt="...">

        <h1>টেসলার ৪০০ কোটি ডলারের শেয়ার বেচবেন ইলন মাস্ক</h1>
        <p class="card-text"><small class="text-muted">প্রকাশ: ০৯ নভেম্বর ২০২২, ১০: ২৯</small></p>
        <div class="my-3">

            <p>টুইটারের দায়িত্ব নিয়ে বিশ্বজুড়ে হইচই ফেলে দেওয়া ইলন মাস্ক টেসলার ৪০০ কোটি মার্কিন ডলারের শেয়ার বিক্রির
                ঘোষণা দিয়েছেন। ব্রিটিশ গণমাধ্যম বিবিসির এক প্রতিবেদনে এ তথ্য জানানো হয়েছে।</p>

            <p> বিবিসি জানিয়েছে, যুক্তরাষ্ট্রের শেয়ারবাজারে দেওয়া এ ঘোষণায় ইলন মাস্ক জানিয়েছেন, তিনি কোম্পানিটির ১ কোটি
                ৯৫ লাখ শেয়ার বিক্রি করবেন। বর্তমান বাজারমূল্যের হিসাবে যার আর্থিক মূল্য প্রায় ৩৯৫ কোটি মার্কিন ডলার।

                টুইটারের নেতৃত্ব নেওয়ার পর এই প্রথম বৈদ্যুতিক গাড়ি নির্মাতা প্রতিষ্ঠান টেসলার বড় অঙ্কের শেয়ার বিক্রির
                ঘোষণা এল। টেসলার মালিকানাও রয়েছে বিশ্বের শীর্ষ ধনী ইলন মাস্কের হাতে। বিষয়টি এখন এমন দাঁড়িয়েছে,
                বিশ্বজুড়ে সুপরিচিত বৈদ্যুতিক গাড়ি নির্মাতা প্রতিষ্ঠান টেসলার শেয়ার বেচে আলোচিত সামাজিক যোগাযোগমাধ্যম
                টুইটারে বিনিয়োগ করছেন ইলন মাস্ক।</p>
            <p>বিবিসির প্রতিবেদনে বলা হয়েছে, নতুন করে ৪০০ কোটি ডলারের শেয়ার বিক্রির ঘোষণা দেওয়ার ফলে চলতি বছরে এ নিয়ে সব
                মিলিয়ে টেসলার ২ হাজার কোটি ডলার সমমূল্যের শেয়ার বিক্রির ঘোষণা দিলেন ইলন মাস্ক।

                ইলনের একের পর এক শেয়ার বিক্রির ঘোষণায় বাজারে টেসলার শেয়ারের দামও কমছে। চলতি বছরের শুরু থেকে এ পর্যন্ত
                টেসলার শেয়ারের দাম ৫০ শতাংশের বেশি কমেছে। আর টেসলার শেয়ার বেচে ইলন মাস্ক সংগ্রহ করেছেন দুই হাজার কোটি
                ডলার।</p>
            <p>চলতি বছরের শুরুতে ইলন মাস্ক ৪ হাজার ৪০০ কোটি ডলারে সামাজিক যোগাযোগমাধ্যম টুইটার কেনার ঘোষণা দেন। এর পর
                থেকে টুইটারকেন্দ্রিক নানা আলোচনা ও খবরের জন্ম দিয়ে চলেছেন বিশ্বের শীর্ষ এই ধনী।

                সর্বশেষ টুইটারের প্রধান নির্বাহীর দায়িত্ব নেওয়ার পর থেকে প্রতিষ্ঠানটিতে গণছাঁটাই শুরু করেছেন তিনি।
                মালিকানা ও নেতৃত্ব বুঝে নেওয়ার প্রথম ছাঁটাই করেন টুইটারের প্রধান নির্বাহী (বর্তমানে সাবেক) পরাগ
                আগারওয়ালকে। পরে সেই দায়িত্ব নিজেই পালন করতে শুরু করেন ইলন।</p>

        </div>
        <div class="my-5">
            <h3>সম্পর্কিত সংবাদ:</h3>
            <div class="mt-2">
                <div class="title-related-news mb-1">ব্যবহারকারী এত বেড়েছে সার্ভার গলে যেতে পারে : ইলন মাস্ক
                </div>
                <img style="height: 40vh;" src="{{ url_for('static', filename='images/news/bangla/elon1.PNG')}}" alt="">
                <p class="text mb-0 mt-2">বিশ্বের শীর্ষ ধনী ইলন মাস্ক ৪৪ বিলিয়ন মার্কিন ডলারে টুইটার কিনে নেওয়ার পর থেকে এই
                    প্ল্যাটফর্মটিকে ঘিরে বিশৃঙ্খলা দেখা দিয়েছে। তবে এ নিয়ে মোটেও বিচলিত নন ইলন মাস্ক। টুইটারের নতুন
                    প্রধান নির্বাহী হিসেবে গত সোমবার তিনি দাবি করেছেন, আগের চেয়ে টুইটারে এখন অনেক বেশি ব্যবহারকারী যোগ
                    দিচ্ছেন এবং ব্যবহার করছেন। খবর এনডিটিভির।

                    ইলন মাস্ক এক টুইট করে দাবি করেছেন, টুইটারের ব্যবহার সর্বকালের মধ্যে সর্বোচ্চ অবস্থায় পৌঁছেছে। তিনি
                    বিস্ময় প্রকাশ করে বলেন, পরিস্থিতি এমন দাঁড়িয়েছ সার্ভার গলে না যায়! </p> <br>
                <p class="text mb-0">টুইটারে পৃথক আরেক পোস্টে গত জুলাই মাস থেকে টুইটারে ব্যবহার বৃদ্ধির গ্রাফ তুলে
                    ধরেছেন। তাতে তিনি বিশ্বব্যাপী অর্থ আয় করা সম্ভব এমন দৈনিক টুইটার ব্যবহারকারীর ও শুধু যুক্তরাষ্ট্রের
                    টুইটার ব্যবহারকারীর গ্রাফ তুলে ধরেন।

                    টুইটারে ব্যাপক হারে ব্যবহারকারী বেড়ে যাওয়ার এ দাবি করলেও এমআইটি টেকনোলজি রিভিউ নামের একটি সাইটের
                    প্রতিবেদনে ভিন্ন তথ্য তুলে ধরা হয়। প্রযুক্তি বিষয়ক ওয়েবসাইটটিতে বলা হয়, ইলন মাস্ক টুইটার কিনে নেওয়ার
                    পর থেকে টুইটার থেকে ১০ লাখ ব্যবহারকারী সরে গেছেন।

                    ভুয়া তথ্য ঠেকানো ও বট ট্র্যাকার ওয়েবসাইট বট সেনটিনেলের প্রতিষ্ঠাতা ক্রিস্টোফার বাউজি বলেন, আমরা
                    দেখেছি ব্যবহারকারীর পক্ষ থেকে টুইটারে অ্যাকাউন্ট বন্ধ করার ও টুইটারের পক্ষ থেকে ব্যবহারকারীর
                    অ্যাকাউন্ট বন্ধ করার হার বেড়েছে।</p> <br>
                <p class="text mb-0">প্রতিবেদনে বলা হয়, তারা ৩১ লাখ অ্যাকাউন্ট বিশ্লেষণ করে দেখা হয়েছে। এর মধ্যে ৮ লাখ
                    ৭৭ হাজার অ্যাকাউন্ট বন্ধ এবং ৪ লাখ ৯৭ হাজার অ্যাকাউন্ট বাতিল করা হয়েছে। গত ২৭ অক্টোবর থেকে ১ নভেম্বর
                    পর্যন্ত এ ঘটনা ঘটেছে। অ্যাকাউন্ট বন্ধ হওয়ার এ ঘটনা সাধারণ পরিস্থিতির চেয়ে দ্বিগুণ। অ্যাকাউন্ট বন্ধ
                    করে দেওয়া ব্যক্তিদের মধ্যে অনেক তারকাও রয়েছেন। এর মধ্যে অন্যতম গিগি হাদিদ। তবে ইলন মাস্কের পক্ষ থেকে
                    বলা হয়েছে, তিনি প্যারোডি করার লক্ষ্য তৈরি অ্যাকাউন্টগুলো বন্ধ করে দেবেন।

                    টুইটার কেনার পর থেকে ইলন মাস্ক নানা পরিবর্তন আনছেন। এর মধ্যে রয়েছে টুইটারে ভেরিফায়েড থাকতে মাসে ৮
                    মার্কিন ডলার করে নেওয়ার মতো সিদ্ধান্তও। এর বাইরে তিনি টুইটারে কর্মী সংখ্যা অর্ধেকে নামিয়ে এনেছেন।
                    টুইটার প্ল্যাটফর্মে সার্চ উন্নত করা ছাড়াও কনটেন্টে অর্থ আয়ের সুযোগ দেওয়ার কথাও ভাবছেন তিনি।</p>
            </div>
            <div class="mt-2">
                <div class="title-related-news mb-1">‘ইলন মাস্ক জানেন না তিনি কী করছেন’
                </div>
                <img style="height: 40vh;" src="{{ url_for('static', filename='images/news/bangla/elon2.PNG')}}" alt="">
                <p class="text mb-0 mt-1">‘ইলন মাস্ক জানেন না তিনি কী করছেন। তিনি টুইটারের সবাইকে ভয়ের মধ্যে রেখেছেন।’
                    কথাগুলো বলেছেন টুইটারের ইউরোপ ও মধ্যপ্রাচ্য বিভাগের সাবেক ভাইস প্রেসিডেন্ট ব্রুস ডেইসলি। তিনি ২০১৫
                    থেকে ২০২০ সাল পর্যন্ত এ পদে ছিলেন। খবর গার্ডিয়ানের

                    টেসলার প্রধান ইলন মাস্ক টুইটার কিনে নেওয়ার পর থেকে সামাজিক যোগাযোগের এ গুরুত্বপূর্ণ মাধ্যমে এক
                    প্রকার ঝড় বয়ে যাচ্ছে। মাস্ক দায়িত্ব নেওয়ার পর থেকে প্রতিষ্ঠানটির প্রথম সারির বেশ কিছু কর্মকর্তাকে
                    চাকরিচ্যুত করেছেন। তিনি প্রায় অর্ধেক কর্মী ছেঁটে ফেলবেন বলে জানিয়েছেন। </p>
                <p class="text mb-0">টুইটারের সাবেক কর্মকর্তা ব্রুস ডেইসলি বলেন,‘ ইলন মাস্ক ভেবেছেন যে তিনি একাই সব
                    সমস্যার সমাধান করবেন। তিনি সবকিছু দ্রুত সেরে ফেলতে চাইছেন। কিন্তু এটা কঠিন বিষয়। তিনি জানেন না তিনি
                    কী করছেন।’

                    ইলন মাস্ক সম্প্রতি ঘোষণা দিয়েছেন, টুইটারের ভেরিফায়েড গ্রাহকেদর প্রতি মাসে আট ডলার করে দিতে হবে।
                    ডেইসলি এ সিদ্ধান্তের সমালোচনা করেন। মাস্ক এটা ‘পকেট মানি’ বানানোর জন্য করেছেন বলেও সমালোচনা করেন
                    ডেইসলি।</p> <br>
                <p class="text mb-0">গত শুক্রবার চাকরি হারানো টুইটারের এক কর্মীর সমর্থনে টুইট করেন ডেইসলি।

                    গত ২৭ অক্টোবর ৪ হাজার ৪০০ কোটি ডলারে টুইটার কিনে নেন ইলন মাস্ক। এরপর কর্মী ছাঁটাইয়ের কাজ শুরু করেন।
                    তাঁর এ উদ্যোগে তীব্র সমালোচনা শুরু হয়। তবে মাস্ক বলেন, তাঁর এ কাজ করা ছাড়া উপায় ছিল না। কারণ,
                    প্রতিষ্ঠানটির প্রতিদিন ৪০ লাখ ডলার ক্ষতি হয়।</p>
            </div>
            <div class="mt-2">
                <div class="title-related-news mb-1">ইলন মাস্ক কী চাইছেন
                </div>
                <img style="height: 40vh;" src="{{ url_for('static', filename='images/news/bangla/elon3.PNG')}}" alt="">
                <p class="text mb-0 mt-1">বিশ্বের শীর্ষ ধনী ইলন মাস্ক যখন গত সপ্তাহে টুইটার কিনে নিলেন, তখনই ইঙ্গিত পাওয়া
                    যাচ্ছিল টুইটার পরিচালনার ক্ষেত্রে বড় পরিবর্তন আসছে। সামাজিক যোগাযোগের এই মাধ্যম ইলন মাস্কের
                    ব্যবসায়িক প্রতিষ্ঠানে পরিণত হবে। প্রথম দিকে ইলন মাস্ক যখন টুইটার কেনার পরিকল্পনার কথা বলেছিলেন, তখন
                    তাঁর উদ্দেশ্য ছিল ডানপন্থী বা মধ্য ডানপন্থীদের কথা বলার প্ল্যাটফর্ম হিসেবে একে দাঁড় করানো। এর জন্য
                    তিনি ৪৪ বিলিয়ন মার্কিন ডলার দাম হাঁকেন। কিন্তু টুইটারের মালিক হওয়ার পর তাঁর চাওয়া বদলে গেছে। তিনি
                    এখন একে ব্যবসায়িক প্ল্যাটফর্ম হিসেবেই দেখছেন।</p> <br>

                <p class="text mb-0">শুরুতে প্রবল আগ্রহ দেখালেও মাঝপথে টুইটারে ভুয়া অ্যাকাউন্টের তথ্য না পাওয়ার অভিযোগে
                    পিছুটান দিয়েছিলেন ইলন মাস্ক। টুইটার কর্তৃপক্ষ অনেকটা নাটকীয়ভাবে আদালতের দ্বারস্থ হয় এবং ইলন মাস্ককে
                    টুইটার কিনে নিতে বাধ্য করে। কিন্তু ততদিনে মাস্ক তাঁর বিনিয়োগ সুরক্ষার জন্য সুস্পষ্ট ব্যবসায়িক
                    পরিকল্পনা বেঁধে ফেলেছেন। জনগণকে বিনা মূল্যে টুইটার ব্যবহার করতে দেওয়ার চেয়ে এটাকে ব্যবসাবান্ধব করার
                    দিকটিতেই গুরুত্ব দিতে শুরু করেন। তিনি তাঁর বিনিয়োগকারী ব্যাংক কর্মকর্তা, তাঁর গাড়ি নির্মাতা
                    প্রতিষ্ঠান টেসলার শেয়ারধারী ও টুইটারের বিজ্ঞাপনদাতাদের আশ্বস্ত করেন যে, টুইটারকে বেশ গুরুত্বের
                    সঙ্গেই নিয়েছেন তিনি।</p> <br>
                <p class="text mb-0">ইলন মাস্ক টুইটার নিয়ে যেসব পদক্ষেপ নিচ্ছেন, তা হয়তো অনেক ব্যবহারকারীর টুইটারের
                    অভিজ্ঞতাকে আরও নাড়িয়ে দেবে। ইতিমধ্যে টুইটারের সম্পাদনার ক্ষেত্রে এ ধরনের ঘটনা ঘটতে শুরু করেছে।
                    অর্থাৎ, টুইট সম্পাদনার বিষয়টিকে তিনি বিশেষ ফিচার হিসেবে দেখছেন। তাঁর এ পদক্ষেপ অবশ্যই ব্যবসায়িক দিক
                    বিবেচনায় নিয়ে নেওয়া হয়েছে। এর সঙ্গে আদর্শিক দিকের কোনো সম্পর্ক নেই। এমনিতেই টুইটার পরিচালনার দিক
                    থেকে কর্তৃপক্ষ আগে থেকেই লোকসানে রয়েছে। ইলন মাস্কের নতুন পদক্ষেপে টুইটারের হয়তো লোকসান হতে পারে। তবে
                    অনেকের যে ধরনের আশঙ্কা ছিল ঠিক ততটা লোকসান হবে না।</p>
            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>
{% endblock %}