{% extends "layout.html" %}
{% block add_styles %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/english/english-news.css')}}"> {% endblock %}
{% block content %}
{% include "main/index.html" %}

<div class="container form-brand">

    <div class="row">
        <div class="col-xl-8  col-md-10 offset-md-2 mt-2">
            <h2 style="color: #006b41;">Buisness</h2>
            <div class="d-flex news-card mt-2">
              <div class="col-md-4">
                <img style="height: 100%;"src="{{ url_for('static', filename='images/news/english/i1.PNG')}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                  <h4 class="card-title mb-1">Twitter employees now replying on Elon Musk's tweets to voice their concerns</h4>
                  <p class="text mb-0">Elon Musk's Twitter has been a chaotic that neither its users nor its employees sought after. Two weeks to the takeover and narratives of utter chaos and unorganised workflow has started doing the rounds, or may be Twitter users were quick enough to notice.....</p>
                    <a href="{{url_for('news.international_english_i_1')}}" style="text-decoration: none;">
                      <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                    </a>
                    <p class="card-text"><small class="text-muted update-time">13 Nov 2022, 06:42 PM</small></p>
              </div>
            </div>
            <div class="d-flex news-card mt-2">
              <div class="col-md-4">
                <img style="height: 100%;" src="{{ url_for('static', filename='images/news/english/e1.PNG')}}"
                  class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                <h4 class="card-title mb-1">BUET student Fardin might have been killed in Dhaka: DB</h4>
                <p class="text mb-0">Additional Commissioner (Detective Branch) of DMP Mohammad Harunur Rashid has said police
                  are suspecting that Bangladesh University of Engineering and Technology (Buet) student Fardin Noor Parash
                  was killed somewhere in Dhaka....</p>
                <a href="{{url_for('news.english_details')}}" style="text-decoration: none;">
                  <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                </a>
                <p class="card-text"><small class="text-muted update-time">12 Nov 2022, 20: 48</small></p>
              </div>
            </div>
            <div class="d-flex news-card mt-2">
              <div class="col-md-4">
                <img style="height: 100%;" src="{{ url_for('static', filename='images/news/english/e2.PNG')}}"
                  class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                <h4 class="card-title mb-1">1 Covid-19 death in 24hrs, positivity rate 0.85%</h4>
                <p class="text mb-0">One person died from Covid-19 in 24 hours till 8 am today (November 13, 2022), said a
                  press release issued by the Directorate General of Health Services (DGHS).....</p>
                <a href="{{url_for('news.english_details_2')}}" style="text-decoration: none;">
                  <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                </a>
                <p class="card-text"><small class="text-muted update-time">Nov 13, 2022 05:02 PM</small></p>
              </div>
            </div>
            <div class="d-flex news-card mt-2">
              <div class="col-md-4">
                <img style="height: 100%;"src="{{ url_for('static', filename='images/news/english/i1.PNG')}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                  <h4 class="card-title mb-1">Twitter employees now replying on Elon Musk's tweets to voice their concerns</h4>
                  <p class="text mb-0">Elon Musk's Twitter has been a chaotic that neither its users nor its employees sought after. Two weeks to the takeover and narratives of utter chaos and unorganised workflow has started doing the rounds, or may be Twitter users were quick enough to notice.....</p>
                    <a href="{{url_for('news.international_english_i_1')}}" style="text-decoration: none;">
                      <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                    </a>
                    <p class="card-text"><small class="text-muted update-time">13 Nov 2022, 06:42 PM</small></p>
              </div>
            </div>
            <div class="d-flex news-card mt-2">
              <div class="col-md-4">
                <img style="height: 100%;"src="{{ url_for('static', filename='images/news/english/s1.PNG')}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
                  <h4 class="card-title mb-1">We all look up to Stokes: Curran</h4>
                  <p class="text mb-0">Ben Stokes and Sam Curran starred as England edged Pakistan by five wickets to win the Twenty20 World Cup on Sunday and become the sport's first dual white-ball champions, holding both the 50 and 20-over titles.....</p>
                    <a href="{{url_for('news.sports_english_s_1')}}" style="text-decoration: none;">
                      <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                    </a>
                    <p class="card-text"><small class="text-muted update-time">Sun Nov 13, 2022 06:38 PM</small></p>
              </div>
            </div>
  
          
        </div>
    </div>
  
  </div>

{% endblock %}