{% extends "layout.html" %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/english/details.css')}}"> {%
endblock %}
{% block content %}
{% include "main/index.html" %}
<div class="row">
  <div class="col-md-10 offset-md-2 mx-auto my-2">
    <h3>Summary:</h3>
    <div class="sum-body-title">
        Curran said Stokes should have been player of the match.

        "We all look up to him. People question him, but he's incredible. He's the man," he said. "The way I bowl, I go into the wicket with my slower balls and keep the batsmen guessing. World champions, how good," he added.
    </div>

    <img style="height: 55vh;" src="{{ url_for('static', filename='images/news/english/s1.PNG')}}" class="w-60 mb-3"
      alt="...">

    <h1>We all look up to Stokes: Curran</h1>
    <p class="card-text"><small class="text-muted">Sun Nov 13, 2022 06:38 PM</small></p>
    <div class="my-3">

      <p>Ben Stokes and Sam Curran starred as England edged Pakistan by five wickets to win the Twenty20 World Cup on Sunday and become the sport's first dual white-ball champions, holding both the 50 and 20-over titles.</p>
      <p>Jos Buttler's side held Pakistan to 137-8 in front of a partisan 80,462 fans at a heaving Melbourne Cricket Ground, with player-of-the-match and tournament Curran bagging 3-12 and Adil Rashid chipping with 2-22.

        In reply, England slumped to 49-3 in the sixth over as they struggled to get any momentum against a fiery pace attack, with boundaries hard to come by.
        
        But Stokes (52 not out) and Moeen Ali (19) used their experience and cool heads to guide England to 138-5 with six balls to spare, climaxing a riveting tournament that spanned 45 games over nearly a month.
        
        "In finals, especially when chasing, you probably forget all the hard work before that. To restrict them to 130, the bowlers have to take a lot of credit. Adil Rashid and Sam Curran won us the game," said Stokes.</p>
      <p>"Pretty good evening. Representing your country in World Cups is amazing, it has been a good one."

        Curran said Stokes should have been player of the match.
        
        "We all look up to him. People question him, but he's incredible. He's the man," he said.
        
        "The way I bowl, I go into the wicket with my slower balls and keep the batsmen guessing. World champions, how good," he added.
      </p>
      <p>The victory added to the 50-over title England won in 2019, building on the legacy of former captain Eoin Morgan, who retired this year after transforming the team into a white-ball juggernaut.

        It was England's second T20 crown after tasting success in 2010, joining the West Indies as the only two-time winners since the tournament's inception in 2007.
        
        The game was billed as a showdown between Pakistan's attack and England's top order, and Shaheen Afridi bowled danger man Alex Hales in the first over of the run chase.</p>
      <p>But that only fired up Buttler who smashed two boundaries off Naseem Shah.

        Phil Salt, playing in place of the injured Dawid Malan, didn't last, making just 10 before pulling Haris Rauf to Iftikhar Ahmed
        
        The ball was swinging and seaming and the menacing Rauf claimed the key wicket of Buttler just as he was getting in, edging to wicketkeeper Mohammad Rizwan on 26 off 17 balls.
        
        The runs dried up as they reached 77-3 at the halfway point of the innings, compared to Pakistan's 68-2.
        
        Harry Brook came undone on 20 against the spin of Shadab Khan, holing out to Afridi and came down to needing 41 runs off the final five overs.
        
        - Rashid strikes -</p>
        <p>Stokes relieved the pressure with a four and a six off Ahmed and there was no stopping them with the England all-rounder hitting the winning runs.

            With forecast rain staying away, England produced disciplined and economical bowling to stymie 2009 champions Pakistan, with Shan Masood's 38 the top score.
            
            Stokes was given the new ball after England won the toss and chose to field with Pakistan lucky to survive the over intact as opener Rizwan was almost run out going for a risky single.
            
            Rizwan and Babar Azam shared a century partnership in their semi-final against New Zealand, but another big stand wasn't to be, with Rizwan dragging a delivery from Curran on to his stumps on 15.
            
            The introduction of Rashid soon after the six-over powerplay reaped an immediate reward with Mohammad Haris (8) attacking him on his first ball only to sky a simple catch to Stokes.
            
            Masood began swinging the bat in the second half of the innings, hitting a four and six off Liam Livingstone.
            
            But once again Rashid got the breakthrough, pulling off a diving catch from his own bowling to claim the vital wicket of Azam, whose 32 came off 28 balls.
            
            Ahmed only lasted six balls before Masood and Shadab Khan (20) fell in the space of two runs as Curran and Chris Jordan kept the lid on any hope Pakistan had of a late flurry.</p>

    </div>
    <div class="my-3">
      <h3>Related Documents:</h3>
      <div class="mt-2">
        <div class="title-related-news mb-1">England win toss, bowl against India in semi-final
        </div>
        <p class="text mb-0">England captain Jos Buttler won the toss and chose to bowl against India in the second semi-final of the Twenty20 World Cup in Adelaide on Thursday.

            Batsman Dawid Malan and pace bowler Mark Wood miss out to injuries with Phil Salt and Chris Jordan replacing them. India are unchanged.
            
            Malan injured his groin in the team's win over Sri Lanka. Wood, who has bowled the fastest ball of the tournament at 154.74kph (96.15mph), was suffering from stiffness.
            
            England, who are 50-over World Cup champions, are looking to add to their sole T20 crown won in 2010.
            
            The winner of the contest will meet Pakistan, who beat New Zealand in the first semi-final, at the Melbourne Cricket Ground in Sunday's final.
            
            India, who topped Group 2 with four wins in five matches, are searching for their first global title since the 2013 Champion Trophy triumph. They won the inaugural T20 World Cup in 2007.</p>
        <p class="text mb-0">Pakistan tasted victory in 2009 when they beat Sri Lanka by eight wickets in the final, while England won it a year later with a seven-wicket win over Australia.</p>
        <p class="text mb-0">England will be favourites against a Pakistan side who have roared back from losing their first two matches of the tournament.

            Rain could though spoil the party with a 100 per cent chance of showers forecast and even severe thunderstorms.A reserve day has been set aside on Monday but the weather is again expected to be bleak, raising the prospect of a washout and the unthinkable -- the trophy being shared.

            A minimum of 10 overs per side is needed to constitute a game, compared to five during the group stages. If the match starts on Sunday but isn’t finished, it will resume on Monday from where it was halted.
            
            Organisers on Friday tweaked the rules to give two hours’ extra play on Monday should it be needed to complete the match.
            
            Three games at the MCG in the Super 12 stage fell victim to rain.
            
            Notwithstanding the elements, Buttler is confident England can finish the job after routing India by 10 wickets in the semi-finals. Resurgent Pakistan beat New Zealand by seven wickets to earn the right to meet them.
            
            “I think we’re a good team, I think that’s probably where the performance comes from,” Buttler said.
            
            “Some brilliant players in the team. When they play their best, we’re a tough team to beat. Incredibly dangerous side, huge confidence in the group.”
            
            </p>
            <p class="text mb-0">England have selection decisions to make with batsman Dawid Malan and fast bowler Mark Wood missing the semi-final injured. They were replaced by Phil Salt, who was not required to bat, and Chris Jordan, who took 3-43.

                “We will see how they pull up and hopefully progress to be available for selection come the final,” said Buttler of Malan and Wood.
                
                Buttler’s brilliant 80 and Alex Hales’s blistering 86 did the damage against India, with the South Asian giant’s esteemed bowling attack having no answers.
                
                Who will handle the pressure?
                
                Pakistan pace spearheads Mohammad Nawaz and Shaheen Shah Afridi will be tasked with blunting the in-form openers on Sunday.
                
                Pakistan team mentor Matthew Hayden said that was key to the final.</p>

      </div>
      <div class="mt-2">
        <div class="title-related-news mb-1">‘Dangerous’ England face Pakistan in final but rain threatens
        </div>
        <p class="text mb-0">Skipper Jos Buttler believes an “incredibly dangerous” England will be hard to beat in Sunday’s ICC Twenty20 World Cup final, but Pakistan say they have “all bases covered” -- and then there’s the threat of rain.

            After 44 matches spanning nearly a month, the Melbourne Cricket Ground will host the deciding game to determine who joins the West Indies as the only two-time winners since the tournament’s inception in 2007.</p>
        <p class="text mb-0">Pakistan tasted victory in 2009 when they beat Sri Lanka by eight wickets in the final, while England won it a year later with a seven-wicket win over Australia.</p>
        <p class="text mb-0">England will be favourites against a Pakistan side who have roared back from losing their first two matches of the tournament.

            Rain could though spoil the party with a 100 per cent chance of showers forecast and even severe thunderstorms.A reserve day has been set aside on Monday but the weather is again expected to be bleak, raising the prospect of a washout and the unthinkable -- the trophy being shared.

            A minimum of 10 overs per side is needed to constitute a game, compared to five during the group stages. If the match starts on Sunday but isn’t finished, it will resume on Monday from where it was halted.
            
            Organisers on Friday tweaked the rules to give two hours’ extra play on Monday should it be needed to complete the match.
            
            Three games at the MCG in the Super 12 stage fell victim to rain.
            
            Notwithstanding the elements, Buttler is confident England can finish the job after routing India by 10 wickets in the semi-finals. Resurgent Pakistan beat New Zealand by seven wickets to earn the right to meet them.
            
            “I think we’re a good team, I think that’s probably where the performance comes from,” Buttler said.
            
            “Some brilliant players in the team. When they play their best, we’re a tough team to beat. Incredibly dangerous side, huge confidence in the group.”
            
            </p>
            <p class="text mb-0">England have selection decisions to make with batsman Dawid Malan and fast bowler Mark Wood missing the semi-final injured. They were replaced by Phil Salt, who was not required to bat, and Chris Jordan, who took 3-43.

                “We will see how they pull up and hopefully progress to be available for selection come the final,” said Buttler of Malan and Wood.
                
                Buttler’s brilliant 80 and Alex Hales’s blistering 86 did the damage against India, with the South Asian giant’s esteemed bowling attack having no answers.
                
                Who will handle the pressure?
                
                Pakistan pace spearheads Mohammad Nawaz and Shaheen Shah Afridi will be tasked with blunting the in-form openers on Sunday.
                
                Pakistan team mentor Matthew Hayden said that was key to the final.</p>

      </div>
    </div>

  </div>
</div>


</div>
</div>
</div>
{% endblock %}