{% extends "layout.html" %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/english/details.css')}}"> {%
endblock %}
{% block content %}
{% include "main/index.html" %}
<div class="row">
  <div class="col-md-10 offset-md-2 mx-auto my-2">
    <h3>Summary:</h3>
    <div class="sum-body-title">
      “After analyzing Fardin’s mobile data and talking to the people with whom he had communicated before his death,
      we’re assuming that he might’ve been killed in Dhaka. We’ve also come to know that he had gone to Narayanganj. We
      can’t say anything concrete right now for the sake of the investigation,” Harun said.
    </div>

    <img style="height: 55vh;" src="{{ url_for('static', filename='images/news/english/e1.PNG')}}" class="w-60 mb-3"
      alt="...">

    <h1>Buet student Fardin might have been killed in Dhaka: DB</h1>
    <p class="card-text"><small class="text-muted">12 Nov 2022, 20: 48</small></p>
    <div class="my-3">

      <p>Additional Commissioner (Detective Branch) of DMP Mohammad Harunur Rashid has said police are suspecting that
        Bangladesh University of Engineering and Technology (Buet) student Fardin Noor Parash was killed somewhere in
        Dhaka.

        Harun said this while replying to a question at a press briefing held at the media center of Dhaka Metropolitan
        Police (DMP) at the capital’s Minto Road on Saturday.</p>
      <p>“After analyzing Fardin’s mobile data and talking to the people with whom he had communicated before his death,
        we’re assuming that he might’ve been killed in Dhaka. We’ve also come to know that he had gone to Narayanganj.
        We can’t say anything concrete right now for the sake of the investigation,” Harun said. </p>
      <p>Harun said police are not saying that Fardin was killed for drugs.

        “We (DB) never said that Fardin had died when he went to buy drugs in Narayanganj’s Chanpara. We haven’t
        detected yet what actually happened. We’re working on all the information we’ve received till now,” said Harun.
      </p>
      <p>Harun further said that police are yet to confirm whether Amatullah Bushra, the prime accused in the murder
        case filed by Fardin’s father, was involved in the killing or not.

        “We’ve arrested Bushra based on the case filed by Fardin’s father. We’re not saying that she (Bushra) had killed
        him (Fardin). We’re currently analyzing various information surrounding the case. We’ve taken Bushra into remand
        to know more about the matter,” Harun said.

        Police recovered Fardin’s body from the Shitalakhkhya River, behind a cotton mill at Siddhirganj, on November 7,
        three days after he went missing..</p>
      <p>On November 8, Sheikh Farhad, a physician at Narayanganj General Hospital where the autopsy was done, said
        there were several injury marks on Fardin’s head and body.

        On Thursday, Fardin’s father Kazi Nuruddin Rana filed the case against his son’s friend Amatullah Bushra, a 3rd
        year student of East West University, and several unidentified people in connection with the death with Rampura
        Police Station.</p>

    </div>
    <div class="my-3">
      <h3>Related Documents:</h3>
      <div class="mt-2">
        <div class="title-related-news mb-1">Body of missing BUET student recovered from Shitalakhya
        </div>
        <p class="text mb-0">The body of a missing Bangladesh University of Engineering and Technology (BUET) student
          was recovered from Shitalakhya River in Narayanganj.

          Police recovered the body of Fardin Nur Parash, 24, on Monday evening from Laxmi Narayan Cotton Mill area in
          Siddhirganj.

          Police later handed over the body to the river police. Fardin, son of Kazi Nur Uddin of Kutubpur union of
          Narayanganj sadar upazila, is a third year student of civil engineering department of BUET.</p>
        <p class="text mb-0">However, his family lives in the Konapara Shantibagh area of the capital’s Demra.

          Siddhirganj police station officer-in-charge Mashiur Rahman told Prothom Alo that Fardin Nur went missing on 4
          November. In the incident, his father Kazi Nur Uddin filed a general diary (GD) with the Rampura police
          station.

          According to the GD, Fardin left home at Konapara on 4 November for the BUET dormitory. He was supposed to
          stay at the hall on Friday and return home after the examination on Saturday. </p>
        <p class="text mb-0">Later, they learned that Fardin didn’t appear in the examination. Then, the family tried to
          contact him by calling over his phone. But the phone was found switched off. They couldn't trace his
          whereabouts .

          Kazi Nur Uddin told Prothom Alo that all belongings, including expensive mobile phone, watch and wallet, were
          found with the dead body.

          His son would lead a healthy life.

          Fardin is supposed to attend a debating event in Madrid of Spain in December.

          Nur Uddin suspects his son might be killed over previous enmity.</p>

      </div>
      <div class="mt-2">
        <div class="title-related-news mb-1">Body of missing BUET student recovered from Shitalakhya
        </div>
        <p class="text mb-0">The body of a missing Bangladesh University of Engineering and Technology (BUET) student
          was recovered from Shitalakhya River in Narayanganj.

          Police recovered the body of Fardin Nur Parash, 24, on Monday evening from Laxmi Narayan Cotton Mill area in
          Siddhirganj.

          Police later handed over the body to the river police. Fardin, son of Kazi Nur Uddin of Kutubpur union of
          Narayanganj sadar upazila, is a third year student of civil engineering department of BUET.</p>
        <p class="text mb-0">However, his family lives in the Konapara Shantibagh area of the capital’s Demra.

          Siddhirganj police station officer-in-charge Mashiur Rahman told Prothom Alo that Fardin Nur went missing on 4
          November. In the incident, his father Kazi Nur Uddin filed a general diary (GD) with the Rampura police
          station.

          According to the GD, Fardin left home at Konapara on 4 November for the BUET dormitory. He was supposed to
          stay at the hall on Friday and return home after the examination on Saturday. </p>
        <p class="text mb-0">Later, they learned that Fardin didn’t appear in the examination. Then, the family tried to
          contact him by calling over his phone. But the phone was found switched off. They couldn't trace his
          whereabouts .

          Kazi Nur Uddin told Prothom Alo that all belongings, including expensive mobile phone, watch and wallet, were
          found with the dead body.

          His son would lead a healthy life.

          Fardin is supposed to attend a debating event in Madrid of Spain in December.

          Nur Uddin suspects his son might be killed over previous enmity.</p>

      </div>
    </div>

  </div>
</div>


</div>
</div>
</div>
{% endblock %}