{% extends "layout.html" %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/english/details.css')}}"> {%
endblock %}
{% block content %}
{% include "main/index.html" %}
<div class="row">
  <div class="col-md-10 offset-md-2 mx-auto my-2">
    <h3>Summary:</h3>
    <div class="sum-body-title">
      A critic of Elon Musk, Cullen, who also has a blue tick, quoted Sheryl's tweet and said, "Let's recap here. The current Twitter brand manager has no recourse internally to ban known impersonators of a pharmaceutical company and has to take to Twitter to escalate the issue to the CEO.
    </div>

    <img style="height: 55vh;" src="{{ url_for('static', filename='images/news/english/i1.PNG')}}" class="w-60 mb-3"
      alt="...">

    <h1>Twitter employees now replying on Elon Musk's tweets to voice their concerns</h1>
    <p class="card-text"><small class="text-muted">13 Nov 2022, 06:42 PM</small></p>
    <div class="my-3">

      <p>Elon Musk's Twitter has been a chaotic that neither its users nor its employees sought after. Two weeks to the takeover and narratives of utter chaos and unorganised workflow has started doing the rounds, or may be Twitter users were quick enough to notice.</p>
      <p>A tweet exchange between Twitter owner Elon Musk and an employee of the micro-blogging platform, Sheryl Rose, Client Partner, Health, has caught the attention of netizens. 

        Twitter users have pointed out that the colleagues did not use work mail but the social media platform to escalate an issue of an impersonating account.</p>
      <p>To put the story in context, on 12 November, Elon Musk took to Twitter to inform that all parody account should have the word parody written beside their name. “Going forward, accounts engaged in parody must include “parody" in their name, not just in bio. " Elon Musk wrote.
      </p>
      <p>“To be more precise, accounts doing parody impersonations. Basically, tricking people is not ok. We’re adding a “Parody" subscript to clarify" Musk added. </p>
      <p>The subscription plan for a coveted blue tick is one of the major debacles Elon Musk's faulty plan for a Twitter overhaul ensnared, several fake accounts secured a verified status just by paying for it!

    </p>
        <p>Elon Musk may have rolled back the subscription plan on 11 November, however, he couldn't take back the verified status offered to many.</p>
        <p>While the Twitter owner strategizes a plan to battle this out, his colleague was seen taking to Twitter to inform him about two accounts that were impersonating a pharmaceutical company. 

            The tweet that ahs now been deleted,  had the names of the two accounts tagged, and she asked Musk to remove them because they did not have a parody written beside their names.
            
            Upon noticing this conversation, another Twitter user pointed out that Sheryl did not use official email to write to Musk but opted for the social media platform to voice her concerns. Notably, she is also the brand manager who evidently does not have the power to get rid of the impersonators, but is compelled to ask Musk via Twitter for the same.
            
            A critic of Elon Musk, Cullen, who also has a blue tick, quoted Sheryl's tweet and said, "Let's recap here. The current Twitter brand manager has no recourse internally to ban known impersonators of a pharmaceutical company and has to take to Twitter to escalate the issue to the CEO."</p>

    </div>
    <div class="my-3">
      <h3>Related Documents:</h3>
      <div class="mt-2">
        <div class="title-related-news mb-1">England win toss, bowl against India in semi-final
        </div>
        <p class="text mb-0">England captain Jos Buttler won the toss and chose to bowl against India in the second semi-final of the Twenty20 World Cup in Adelaide on Thursday.

            Batsman Dawid Malan and pace bowler Mark Wood miss out to injuries with Phil Salt and Chris Jordan replacing them. India are unchanged.
            
            Malan injured his groin in the team's win over Sri Lanka. Wood, who has bowled the fastest ball of the tournament at 154.74kph (96.15mph), was suffering from stiffness.
            
            England, who are 50-over World Cup champions, are looking to add to their sole T20 crown won in 2010.
            
            The winner of the contest will meet Pakistan, who beat New Zealand in the first semi-final, at the Melbourne Cricket Ground in Sunday's final.
            
            India, who topped Group 2 with four wins in five matches, are searching for their first global title since the 2013 Champion Trophy triumph. They won the inaugural T20 World Cup in 2007.</p>
        <p class="text mb-0">Pakistan tasted victory in 2009 when they beat Sri Lanka by eight wickets in the final, while England won it a year later with a seven-wicket win over Australia.</p>
        <p class="text mb-0">England will be favourites against a Pakistan side who have roared back from losing their first two matches of the tournament.

            Rain could though spoil the party with a 100 per cent chance of showers forecast and even severe thunderstorms.A reserve day has been set aside on Monday but the weather is again expected to be bleak, raising the prospect of a washout and the unthinkable -- the trophy being shared.

            A minimum of 10 overs per side is needed to constitute a game, compared to five during the group stages. If the match starts on Sunday but isn’t finished, it will resume on Monday from where it was halted.
            
            Organisers on Friday tweaked the rules to give two hours’ extra play on Monday should it be needed to complete the match.
            
            Three games at the MCG in the Super 12 stage fell victim to rain.
            
            Notwithstanding the elements, Buttler is confident England can finish the job after routing India by 10 wickets in the semi-finals. Resurgent Pakistan beat New Zealand by seven wickets to earn the right to meet them.
            
            “I think we’re a good team, I think that’s probably where the performance comes from,” Buttler said.
            
            “Some brilliant players in the team. When they play their best, we’re a tough team to beat. Incredibly dangerous side, huge confidence in the group.”
            
            </p>
            <p class="text mb-0">England have selection decisions to make with batsman Dawid Malan and fast bowler Mark Wood missing the semi-final injured. They were replaced by Phil Salt, who was not required to bat, and Chris Jordan, who took 3-43.

                “We will see how they pull up and hopefully progress to be available for selection come the final,” said Buttler of Malan and Wood.
                
                Buttler’s brilliant 80 and Alex Hales’s blistering 86 did the damage against India, with the South Asian giant’s esteemed bowling attack having no answers.
                
                Who will handle the pressure?
                
                Pakistan pace spearheads Mohammad Nawaz and Shaheen Shah Afridi will be tasked with blunting the in-form openers on Sunday.
                
                Pakistan team mentor Matthew Hayden said that was key to the final.</p>

      </div>
      <div class="mt-2">
        <div class="title-related-news mb-1">‘Dangerous’ England face Pakistan in final but rain threatens
        </div>
        <p class="text mb-0">Skipper Jos Buttler believes an “incredibly dangerous” England will be hard to beat in Sunday’s ICC Twenty20 World Cup final, but Pakistan say they have “all bases covered” -- and then there’s the threat of rain.

            After 44 matches spanning nearly a month, the Melbourne Cricket Ground will host the deciding game to determine who joins the West Indies as the only two-time winners since the tournament’s inception in 2007.</p>
        <p class="text mb-0">Pakistan tasted victory in 2009 when they beat Sri Lanka by eight wickets in the final, while England won it a year later with a seven-wicket win over Australia.</p>
        <p class="text mb-0">England will be favourites against a Pakistan side who have roared back from losing their first two matches of the tournament.

            Rain could though spoil the party with a 100 per cent chance of showers forecast and even severe thunderstorms.A reserve day has been set aside on Monday but the weather is again expected to be bleak, raising the prospect of a washout and the unthinkable -- the trophy being shared.

            A minimum of 10 overs per side is needed to constitute a game, compared to five during the group stages. If the match starts on Sunday but isn’t finished, it will resume on Monday from where it was halted.
            
            Organisers on Friday tweaked the rules to give two hours’ extra play on Monday should it be needed to complete the match.
            
            Three games at the MCG in the Super 12 stage fell victim to rain.
            
            Notwithstanding the elements, Buttler is confident England can finish the job after routing India by 10 wickets in the semi-finals. Resurgent Pakistan beat New Zealand by seven wickets to earn the right to meet them.
            
            “I think we’re a good team, I think that’s probably where the performance comes from,” Buttler said.
            
            “Some brilliant players in the team. When they play their best, we’re a tough team to beat. Incredibly dangerous side, huge confidence in the group.”
            
            </p>
            <p class="text mb-0">England have selection decisions to make with batsman Dawid Malan and fast bowler Mark Wood missing the semi-final injured. They were replaced by Phil Salt, who was not required to bat, and Chris Jordan, who took 3-43.

                “We will see how they pull up and hopefully progress to be available for selection come the final,” said Buttler of Malan and Wood.
                
                Buttler’s brilliant 80 and Alex Hales’s blistering 86 did the damage against India, with the South Asian giant’s esteemed bowling attack having no answers.
                
                Who will handle the pressure?
                
                Pakistan pace spearheads Mohammad Nawaz and Shaheen Shah Afridi will be tasked with blunting the in-form openers on Sunday.
                
                Pakistan team mentor Matthew Hayden said that was key to the final.</p>

      </div>
    </div>

  </div>
</div>


</div>
</div>
</div>
{% endblock %}