{% extends "layout.html" %}
{% block add_styles %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/bangladesh.css')}}"> {% endblock %}
{% block content %}
{% include "main/index.html" %}

<div class="container form-brand">

  <div class="row">
      <div class="col-xl-8  col-md-10 offset-md-2">
          <h2 style="color: #006b41;">Bangladesh</h2>
        <div class="d-flex news-card mt-2">
          <div class="col-md-4">
            <img style="height: 100%;"src="{{ url_for('static', filename='images/uploads/card.JPG') }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
              <h5 class="card-title mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h5>
              <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="{{url_for('news.details')}}" style="text-decoration: none;">
                  <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                </a>
                <p class="card-text"><small class="text-muted update-time">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="d-flex news-card mt-2">
          <div class="col-md-4">
            <img style="height: 100%;"src="{{ url_for('static', filename='images/uploads/card.JPG') }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 mt-1 p-2" style="margin-left: 5px;">
              <h5 class="card-title mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h5>
              <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="{{url_for('news.details')}}" style="text-decoration: none;">
                  <p class="card-text"><small class="text-muted see-more">See more...</small></p>
                </a>
                <p class="card-text"><small class="text-muted update-time">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
      </div>
  </div>
  <div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Custom Add</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img class="img-add" src="{{ url_for('static', filename='images/add/img1.jpg') }}" alt="Add">   
        <img class="img-add mt-3" src="{{ url_for('static', filename='images/add/img2.jpg') }}" alt="Add">
    </div>
  </div>
</div>

{% endblock %}