{% extends "layout.html" %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/news/details.css') }}" {% endblock %}
  {% block content %} {% include "main/index.html" %} <div class="container form-brand">

<div class="row">
  <div class="col-md-10 offset-md-2 mx-auto my-2">
    <h3>Summary:</h3>
    <div class="sum-body-title">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam asperiores iusto, ipsam a cupiditate qui
      dolorum. Cumque modi atque quae, earum ipsum assumenda quidem ex. Laudantium blanditiis dolorum commodi fugit?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus quis corrupti sequi eos aperiam vero
      quibusdam odit aspernatur exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
      dolor praesentium omnis fugiat animi iusto at in neque quos numquam. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Vitae consectetur quae perspiciatis molestias adipisci harum architecto porro, dicta officia
      magni!
    </div>

    <img style="height: 55vh;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYPhfY3-nD2SekUgJHx93xYuV_kGtlQ5J9Pg&usqp=CAU"
      class="card-img-top" alt="...">

    <h1>Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h1>
    <p class="card-text"><small class="text-muted">Mon Oct 17, 2022 04:56 PM</small></p>
    <div class="my-3">
      <h3>Related Documents:</h3>
      <!-- <div class="related-news-head">
        <div>
          <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
          </div>
          <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <a href="{{url_for('news.details')}}" style="text-decoration: none;">
            <span class="card-text"><small class="text-muted see-more">See more...</small></span>
          </a>
        </div>
        <div>
          <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
          </div>
          <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <a href="{{url_for('news.details')}}" style="text-decoration: none;">
            <span class="card-text"><small class="text-muted see-more">See more...</small></span>
          </a>
        </div>
      </div>
      <div class="related-news-head mt-3">
        <div>
          <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
          </div>
          <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <a href="{{url_for('news.details')}}" style="text-decoration: none;">
            <span class="card-text"><small class="text-muted see-more">See more...</small></span>
          </a>
        </div>
        <div>
          <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
          </div>
          <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <a href="{{url_for('news.details')}}" style="text-decoration: none;">
            <span class="card-text"><small class="text-muted see-more">See more...</small></span>
          </a>
        </div>
      </div> -->
      <div class="mt-2">
        <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
        </div>
        <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id animi earum odit perferendis. Laudantium eum debitis error repellat corporis eaque dolores, enim aliquid voluptatibus qui molestias quisquam ullam numquam sed officia dolorum. Dolores, eveniet aliquam. Veniam aliquam eos perferendis obcaecati laudantium aperiam hic, voluptatibus vel. Itaque nobis quidem quisquam porro aliquam, ullam veniam sint harum reprehenderit corporis, vitae nihil totam veritatis earum repellendus aliquid ad. Repudiandae animi aliquam aut doloremque, soluta quam quos deserunt. Nam corporis iste ducimus rerum ea quod quas quis eaque maiores ratione tempora odio, dolorum libero eius suscipit? Laborum rem voluptas officia facere dicta consectetur? Aliquam.</p>
      </div>
    </div>
    <div class="my-2">
      <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
      </div>
      <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id animi earum odit perferendis. Laudantium eum debitis error repellat corporis eaque dolores, enim aliquid voluptatibus qui molestias quisquam ullam numquam sed officia dolorum. Dolores, eveniet aliquam. Veniam aliquam eos perferendis obcaecati laudantium aperiam hic, voluptatibus vel. Itaque nobis quidem quisquam porro aliquam, ullam veniam sint harum reprehenderit corporis, vitae nihil totam veritatis earum repellendus aliquid ad. Repudiandae animi aliquam aut doloremque, soluta quam quos deserunt. Nam corporis iste ducimus rerum ea quod quas quis eaque maiores ratione tempora odio, dolorum libero eius suscipit? Laborum rem voluptas officia facere dicta consectetur? Aliquam.</p>
    </div>
    <div class="my-2">
      <div class="title-related-news mb-1">Indian, Pakistan military to discuss alleged Kashmir ceasefire violation
      </div>
      <p class="text mb-0">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id animi earum odit perferendis. Laudantium eum debitis error repellat corporis eaque dolores, enim aliquid voluptatibus qui molestias quisquam ullam numquam sed officia dolorum. Dolores, eveniet aliquam. Veniam aliquam eos perferendis obcaecati laudantium aperiam hic, voluptatibus vel. Itaque nobis quidem quisquam porro aliquam, ullam veniam sint harum reprehenderit corporis, vitae nihil totam veritatis earum repellendus aliquid ad. Repudiandae animi aliquam aut doloremque, soluta quam quos deserunt. Nam corporis iste ducimus rerum ea quod quas quis eaque maiores ratione tempora odio, dolorum libero eius suscipit? Laborum rem voluptas officia facere dicta consectetur? Aliquam.</p>
    </div>
  </div>
  </div>


  </div>
</div>
</div>

<!-- <div class="container">
<div class="col-md-10 mx-auto my-2">
    <div class="card">
        <img style="height: 60vh;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYPhfY3-nD2SekUgJHx93xYuV_kGtlQ5J9Pg&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h3>Indian, Pakistan military to discuss alleged Kashmir ceasefire violation</h3></p>
          <p class="card-text"><small class="text-muted">Mon Oct 17, 2022 04:56 PM</small></p>
          <h5>Summary:</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos totam quaerat nemo, animi asperiores architecto labore neque odio error velit, consequatur commodi praesentium, deserunt expedita iusto in aliquid placeat omnis hic quisquam aspernatur ad rem. Sapiente, maxime mollitia laboriosam laborum quas veritatis aperiam totam commodi provident deleniti soluta sed quam veniam. Tempore nostrum vel culpa ea ipsum repellat est magni nemo voluptates quaerat ratione ducimus obcaecati, commodi, laborum dignissimos!</p>
        </div>
      </div>

</div>
</div> -->
{% endblock %}