.pack-card{
    margin-top: 50px;
    background-color: #F4F5FF;
    border-radius: 10px;
} 
.head-silver{
    background: #C0C0C0;
    border-radius: 10px;
}
.silver-title-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    
}
.silver-features{
    font-size: 15px;
    margin-left: 10px; 
    margin-right: 10px;
}
.purchase-now-silver-btn{
    background-color: #C0C0C0;
    color: #FFFFFF; 
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px; 
    text-decoration: none;
}
.purchase-now-silver-btn:hover{
    background-color: #4e4e4c;
    color: #FFFFFF;
}
.icon-silver{
    color: #4e4e4c;
}
.head-gold{
    background: #e5b73b;
    border-radius: 10px;
}
.gold-title-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}
.gold-features{
    font-size: 15px;
    margin-left: 10px; 
    margin-right: 10px;
}
.purchase-now-gold-btn{
    background-color: #e5b73b;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px; 
}
.purchase-now-gold-btn:hover{
    background-color: #da9100;
    color: #FFFFFF; 
}
.icon-gold{
    color: #e5b73b;
}
.head-platinum{
    background: #a7d8de;
    border-radius: 10px;
}
.platinum-title-text{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}
.platinum-features{
    font-size: 15px;
    margin-left: 10px; 
    margin-right: 10px;
}
.purchase-now-platinum-btn{
    background-color: #a7d8de;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px; 
}
.purchase-now-platinum-btn:hover{
    background-color: #6ebfc9;
    color:  #FFFFFF; 
}
.icon-platinum{
    color: #a7d8de;
}

.a{
    text-align: center;
    position: relative;
    /* transform: translate(-50%,-50%); */
    width: 100%;
    margin-top: 70px;
  }
  .a span{
    display: block;
  }
  .text1{
    color: black;
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s 1;
  }
  .text2{
    margin-top: 15px;
    font-size: 30px;
    color: #000000;
  }
  
  @keyframes text {
    0%{
      color: black;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }
 